@{
    ViewBag.Title = "Confirmation du mot de passe oublié";
    Layout = null;
}


<!DOCTYPE html>
<html>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.7.1/500.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Mar 2018 08:21:26 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body style="background-color:#5053a3;" class="center-block middle-box center-orientation">


    <div class="middle-box text-center animated fadeInDown" style="margin-top:50%">

        <h3 class="font-bold text-white">Récupération de votre mot de passe.</h3>

        <div class="error-desc text-white">
            <br />
            Vérifiez votre adresse de messagerie pour réinitialiser votre mot de passe.
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</body>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.7.1/500.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Mar 2018 08:21:26 GMT -->
</html>