@model IdentitySample.Models.LoginViewModel

@{
    Layout = null;

}

<h2>@ViewBag.Title.</h2>


<!DOCTYPE html>
<html>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.7.1/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Mar 2018 08:19:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEE | Login</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body style="background-image: url(/img/NewLogin.jpg); background-size: cover">

    <div class=" " style="
    margin-top: 21%;
    margin-left: 41%;
">
        <div class="row">
            <div class="col-md-4">


               
                        <p><strong><h2>EasyBEE est sous maintenance</h2></strong> </p>


            </div>
        </div>
    </div>





    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</body>
</html>
