@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BEE | Unauthorized</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>
<body class="bg-purplebee middle-box text-center">

    <br />
    <br />
    <br />
    <br />
    <div class="middle-box text-center animated fadeInDownBig">
        <h4 class="middle-box text-center animated fadeInDown">Vous n'avez pas le droit d'accéder à cette page! </h4>
        <a href="@Url.Action("index", "Home")" class="font-bold text-greenbee">Retourner à l'acceuil </a>

        <div class="error-desc">

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</body>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.7.1/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Mar 2018 08:21:26 GMT -->
</html>
