
@{
    ViewBag.Title = "GenerateRedevance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Redevance</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Redevance")">Liste Redevance </a>
            </li>
            <li class="active">
                <a href="@Url.Action("GenerateRedevance","Redevance")">Générer Redevance </a>
            </li>
        </ol>
    </div>
</div>
<br />
<div class="ibox float-e-margins">

    <div class="ibox-title" style="height:80px;">

        @using (Html.BeginForm("GenerateRedevance", "Redevance", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Date Debut <span>*</span></label>
                        <div class="col-sm-9">
                            <span class="help-block m-b-none">
                                <input class="form-control" type="date" name="DateDebutRed" id="currentDate1" required>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Date Fin <span>*</span></label>
                        <div class="col-sm-9">
                            <span class="help-block m-b-none">
                                <input class="form-control" type="date" name="DateFinRed"  id="currentDate2" required>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"> </label>
                        <div class="col-sm-9">
                            <span class="help-block m-b-none">
                                <button type="submit" class="btn btn-purplebee">Valider </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/pace/pace.min.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<script src="~/js/plugins/dataTables/datatables.min.js"></script>
<!-- Sweet alert -->
<script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Chosen -->
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<link href="~/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
<!-- Ladda -->
<script src="~/js/plugins/ladda/spin.min.js"></script>
<script src="~/js/plugins/ladda/ladda.min.js"></script>
<script src="~/js/plugins/ladda/ladda.jquery.min.js"></script>
<script>
    var date = new Date();
    var currentDate1 = date.toISOString().slice(0, 10);
    document.getElementById('currentDate1').value = currentDate1;


    var currentDate2 = date.toISOString().slice(0, 10);
    document.getElementById('currentDate2').value = currentDate2;

    var date1 = DateFinRed;
    var date2 = DateDebutRed;
    if (currentDate1 > currentDate2) {
        document.write('Date Debut Facture est supérieur à Date Fin Facture');
    }
    else
        document.write('Date Debut Facture est inférieur à date2');
</script>