<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" title="demandes d'appro">
    <i class="fa fa-exchange"></i>
</a>
<ul class="dropdown-menu dropdown-alerts">
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-envelope fa-fw"></i> Aucune Notif de demande interne
                </div>
            </a>
        </li>
</ul>