<div>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-danger m-r-sm">@ViewBag.NB_Hier</button>
                    Facture Fin Hier
                </td>
                <td>
                    <button type="button" class="btn btn-primary m-r-sm">@ViewBag.NB_Ajd</button>
                    Factures générées aujourd'hui
                </td>
            </tr>
        </tbody>
    </table>
</div>
